.header__images__app{
    width: 100%;
    padding: 2.5em 0em;
}
.header__images__app .header__navbar__app{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar__app .header__title .title{
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}
.header__navbar__app .generated__for .text{
    font-size: .7em;
    font-weight: 300;
    color: #3b3b3b;
}
.switch{
    display: block;
    padding: 18px 45px;
    position: relative;
    background: rgb(248, 248, 248);
    border-radius: 35px;
}
.switch::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #3679f7;
    top: .2em;
    right: .2em;
    border-radius: 50%;
}