@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background--app:hsl(0, 0%, 100%);
  --font--app:'Poppins', sans-serif;
}
body{
  background-color: var(--background--app);
  font-family: var(--font--app);
  min-height: 100vh;
}
.container-mx{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
img{
  width: 100%;
}
ul,li{
  list-style: none;
}